@tailwind base;
@tailwind components;
@tailwind utilities;


.custom-scroll::-webkit-scrollbar {
  width: 8px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: rgba(249, 115, 22, 0.7);
  border-radius: 9999px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background-color: rgba(249, 115, 22, 1);
}

.custom-scroll::-webkit-scrollbar-button {
  display: none;
}

/* Firefox */
.custom-scroll {
  scrollbar-width: thin;
  scrollbar-color: #f97316 transparent;
}
